LEMPNET_PREFIX=172.40
NGINX_IPV4=0.100
PHP_IPV4=0.110
MARIADB_IPV4=0.120

NGINX_IMAGE_TAG=1.31
#PHP_MYSQL_IMAGE=192.168.56.200:5000/php-mysql
PHP_MYSQL_IMAGE=php-mysql
PHP_IMAGE_TAG=8.5-fpm
MARIADB_IMAGE_TAG=12.3
DB_ROOT_PASSWD=azerty

LOG_MAX_SIZE=10M
LOG_MAX_FILE=5